ul {
list-style-type: none;
height: 80px;
width: 663px;
margin: auto;
}

li {
float: left;
}

ul a {
padding-right: 32px;
padding-left: 32px;
display: block;
line-height: 80px;
text-decoration: none;
font-family: 'Droid Serif', serif;
font-size: 21px;
color: #071E3E;
}

ul a:hover {
color: #57A645
}

#header {
display: block;
float: left
}