ul a {
padding-right: 1em;
padding-left: 1.3em;
display: block;
text-decoration: none;
font-family: 'Droid Serif', serif;
font-size: 1.1em;
width: 100%;
}

ul a:hover {
color: #57A645
}

#header {
display: block;
float: left;
width: 100%;
margin: 2em 0 2em 0;
padding-bottom: 1em;
border-bottom: .6em solid #031d40;
}

#postcontent {
clear: both;
}