ul {
list-style-type: none;
height: 80px;
margin: auto;
}

ul a {
padding-right: 1em;
padding-left: 1.3em;
display: block;
text-decoration: none;
font-family: 'Droid Serif', serif;
font-size: 21px;
color: #071E3E;
}

ul a:hover {
color: #57A645
}

#header {
display: block;
float: left;
width: 100%;
margin: 2em 0 2em 0;
}

#postcontent {
clear: both;
}