<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--<title>{{ page.title }}</title>-->
		<link rel="stylesheet" href="{{ site.url }}/css/normalize.min.css" type="text/css" />
		<link rel="stylesheet" href="{{ site.url }}/css/solarized-dark.css" type="text/css"/>
		<link rel="stylesheet" href="{{ site.url }}/css/main.css" type="text/css" />
		<link rel="stylesheet" href="{{ site.url }}/css/header.css" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    </head>
    <body>
	<div id="header">
	<a href="http://dlongest.github.io/" title="Dan Longest's Blog Homepage"><img id="logo" src='{{ site.url }}/images/logo.png' /></a>
	<nav>
	  <ul>
	    <li><a href="/">Posts</a></li>
	    <li><a href="#">Categories</a></li>	    
		<li><a href="#">Recommended</a></li>	    
	    <li><a href="about.html">About</a></li>
	  </ul>
    </nav>
	</div>